nav {
    
    background-color: grey;
    text-align:center;
    color: orange;
}
 nav li {
    padding: 15px;
    display: inline;
}
#logotitulo {
    text-align: center;
    background-color: grey;
}
body {
    margin-left: 5%;
    margin-right: 5%;
    font-family: Arial, sans-serif;
    background-color: #fff200; 
}
#fondo {
    background-color: white;

}
.icono {
    width: 15px;
    height: 15px;
    padding-left: 5px;
}
#foto {
    text-align: center;
}
h1 {
    color:darkcyan;
}
h2 {
    text-decoration: solid;
}
#contenido {
    padding: 0 10px;
}
footer {
    background-color: blueviolet;
    text-align: center;
}
dt {
    font-weight: bold;
}

.fotopersonaje {
    text-align: center;
}

.fotopersonaje img {
    width: 100px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

.fotopersonaje p {
    display: inline-block;
    background-color: gray;
    padding: 2px;
    margin: 0;
    margin-top: 5px;
}
a {
    color: orange;
    text-decoration: none;
}

a:hover {
    color: darkorange; 
}

.icocine{
    list-style-image: url(../img/icono-cine.png);
    color:darkcyan;
    font-weight: bold;
}
